<div id="<%= dom_id student %>" class="card">
  <div class="card-body">
    <h5 class="card-title">Dane studenta</h5>
    
    <p class="card-text">
      <strong>Imię:</strong> <%= student.name %>
    </p>
    
    <p class="card-text">
      <strong>Nazwisko:</strong> <%= student.surname %>
    </p>
    
    <p class="card-text">
      <strong>Email:</strong> <%= student.email %>
    </p>
  </div>
</div>